* {
    box-sizing: border-box;
    margin: 0 auto;
}

body {
    font-family: 'Merriweather', serif;
    background-color: rgb(247, 244, 244);
    font-size: 1em;
}

.container {
    width: 100%;
    margin: 0 auto;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

fieldset {
    border: 0;
}

label {
    color: rgba(12, 12, 12, 0.521);
}

/*TOP SECTION*/

header {
    text-align: center;
    font-size: 1.1em;
    font-weight: bolder;
    text-transform: uppercase;
    background-color: rgb(34, 34, 46);
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
}

.banner {
    text-align: center;
    margin-top: 25px;
}

.banner h2 {
    font-size: 1.7em;
}

.banner p {
    color: rgba(12, 12, 12, 0.521);
    width: 90%;
    font-size: 1.1em;
    margin-top: 1em;
    margin-bottom: 2.5em;
    text-align: center;
    letter-spacing: .5px;
}

.thick_line {
    position: relative;
    top: 5px;
    border: none;
    height: 5px;
    background: black;
    width: 90%;
    max-width: 800px;
}

.normal_line {
    position: relative;
    top: 2px;
    border: none;
    height: 2px;
    background: black;
    margin-top: 7px;
    margin-bottom: 20px;
    width: 90%;
    max-width: 800px;
}

.normal_line2 {
    position: relative;
    border: none;
    height: 2px;
    margin-bottom: 15px;
    background: black;
    max-width: 800px;
}

form {
    margin: 10px auto;
    padding: 10px 20px;
    border-radius: none;
    max-width: 800px;
}

legend {
    color: rgba(12, 12, 12, 0.521);
    font-size: 22px;
    font-weight: bolder;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 20px 50px 20px 0px;
}



/*1ST FIELDSET*/

input[type="text"],
input[type="email"],
input[type="tel"], 
select {
    width: 100%;
    line-height: 3;
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 5px;
    margin: 10px 0;
  
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
select:focus,
textarea:focus {
  border: 1px solid lightgrey;
  box-shadow: 0 0 0 0.2rem lightgrey;;
}

input[type="checkbox"]:checked + label,
input[type="radio"]:checked + label {
  font-weight: bold;
}

#zip_code {
    width: 50%;
    display: block;
}

select[name="user_state"] {
    padding: 10px;
    margin: 10px 0;
    color: lightgrey;
}

::placeholder {
    font-style: italic;
    text-align: right;
    padding-right: 20px;
    color: lightgrey;
}

/*2ND FIELDSET*/

.directions,
.topics,
.topics {
    padding-top: 15px;
    padding-bottom: 15px;
    color: rgba(12, 12, 12, 0.521);
}

.news_title {
    margin-top: 15px;
    padding-top: 15px;
}

input[type="checkbox"],
input[type="radio"] {
    margin: 10px;
    width: 10px;
    
}

label [for="other_topics"] {
    display: block;
    margin-right: 10px;
}

.newsletter label {
    display: inline-block;
    margin: 5px;
}

textarea {
    width: 100%;
    background-color: #fff;
    padding: 30px;
    border: 0;
    border-radius: 5px;
    margin-bottom: 20px;
}


/*BUTTON*/

button {
    padding: 18px 38px 18px 38px;
    color: #FFF;
    background-color: #1da79b;
    font-size: 30px;
    text-align: center;
    font-style: normal;
    border-radius: 5px;
    width: 100%;
    border: 1px solid #1da79b;
    border-width: 1px 1px 3px;
    box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
    margin-bottom: 20px;
    margin-top: 50px;
}

/*FOOTER*/

footer {
    text-align: center;
    color: slategray;
    margin-bottom: 20%;
    margin-top: 20px;
    margin-bottom: 45%;
}


/*MEDIA FIX*/

@media (min-width: 768px) {

    body {
        margin: 0 auto;
        font-size: 16.5px;
    }

    .banner {
        margin-top: 45px;
    }

    form,
    .thick_line,
    .normal_line,
    .normal_line2  {
        max-width: 768px;
        margin-left: auto;
        margin-right: auto;
    }

    .normal_line,
    .normal_line2 {
        margin-bottom: 25px;
    }

    .contact label {
        margin-top: 30px;
        float: left;
        width: 25%;
    }

    .contact input,
    select {
        width: 75%;
        padding: 2px 5px;
        margin: 15px 0;
    }

    #zip_code {
        width: 25%;
    }

}